# No whitespace after the comma or in your part name!
config SHIELD_MAL
    def_bool $(shields_list_contains,mal)

# No whitespace after the comma or in your part name!
config SHIELD_MAR
    def_bool $(shields_list_contains,mar)