if SHIELD_MAL

# Name must be less than 16 characters long!
config ZMK_KEYBOARD_NAME
    default "My Keyboard"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_MAL || SHIELD_MAR

config ZMK_SPLIT
    default y

endif